/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  font-size: 1.6em;
  font-family: 'Antonio',
    'Spartan',
    sans-serif;
  background-image: url('./assets/background-stars.svg');
  background-repeat: repeat;
  background-size: 60%;
  background-position: left top;
  /* transform: scale(0.5, 0.5); */
}

:root {
  --background: #070724;
  --white: #FFFFFF;
  --dark-grey: #38384F;
  --grey: #838391;
  --mercury: #DEF4FC;
  --venus: #EDA249;
  --earth: #545BFE;
  --mars: #D14C32;
  --jupiter: #ECAD7A;
  --saturn: #FCCB6B;
  --uranus: #65F0D5;
  --neptune: #2D68F0;
}

h1 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8rem;
  line-height: 10.4rem;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: -0.105rem;
  text-transform: uppercase;
  color: var(--white);
}

h3 {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.257143rem;
  text-transform: uppercase;
  color: var(--white);
}

h4,
a {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--white);
}

p {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--white);
}

nav#header__main-nav {
  display: flex;
  height: 8.5rem;
  justify-content: space-between;
  align-items: center;
}

header#header {
  position: relative;
}

nav#header__main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: var(--grey);
  opacity: 0.2;
  mix-blend-mode: normal;
}

ul.header__main-nav--links {
  display: flex;
  list-style-type: none;
  margin-top: 1rem;
}

a.neptune {
  padding-right: 0.7rem;
}

ul.header__main-nav--links a {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  margin-right: 2.8vw;
}

ul.header__main-nav--links a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  height: 0.25rem;
}

a.mercury:hover::before {
  background-color: var(--mercury);
}

a.venus:hover::before {
  background-color: var(--venus);
}

a.earth:hover::before {
  background-color: var(--earth);
}

a.mars:hover::before {
  background-color: var(--mars);
}

a.jupiter:hover::before {
  background-color: var(--jupiter);
}

a.saturn:hover::before {
  background-color: var(--saturn);
}

a.uranus:hover::before {
  background-color: var(--uranus);
}

a.neptune:hover::before {
  background-color: var(--neptune);
}

h2.header__main-nav--h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-left: 3.2rem;
}

div.header__main-nav--div-icon {
  display: none;
}

/****************************** Header finish ******************************/

#upper-section {
  display: inline-flex;
  flex-direction: row;
}

#upper-section__left--img-div {
  display: flex;
  width: 65vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.upper-section__img-div--first-image {
  position: absolute;
  z-index: -1;
  width: 20vw;
}

.upper-section__img-div--second-image {
  z-index: 1;
  width: 11vw;
  margin-top: 25rem;
}

#upper-section__right-top {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin-top: 14.5vh;
}

#upper-section__right {
  width: 35rem;
}

#upper-section__right-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  row-gap: 1.6rem;
}

.upper-section__button {
  height: 4.8rem;
  background-color: var(--background);
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
}

div.upper-section__right-bottom h3 * {
  color: white;
}




@media screen and (max-width: 1300px) {
  body {
    background-size: 110%;
  }

  /****************************** Header finish ******************************/

}

@media screen and (max-width: 1000px) {

  h2.header__main-nav--h2 {
    margin-left: 0;
  }

  ul.header__main-nav--links a {
    margin-right: 4.3vw;
  }

  nav#header__main-nav {
    flex-direction: column;
    height: 15.9rem;
    justify-content: space-evenly;
    align-items: center;
  }

  nav#header__main-nav::after {
    top: 15.9rem;
  }

  ul.header__main-nav--links {
    margin-right: 0;
  }

  .header__main-nav--links a.neptune {
    margin-right: 0;
    padding-right: 0;
  }

  ul.header__main-nav--links a:hover::before {
    top: 4.6rem;
  }

  /****************************** Header finish ******************************/
}


@media screen and (max-width: 675px) {
  body {
    background-size: 200%;
  }

  .disable-background {
    background-size: 0;
  }

  div.header__main-nav--div-icon {
    display: flex;
    margin-top: 1.2rem;
  }

  nav#header__main-nav {
    flex-direction: row;
  }

  nav#header__main-nav::after {
    top: 6.8rem;
  }

  nav#header__main-nav {
    height: 6.8rem;
    justify-content: space-between;
    margin: 0 2.4rem;
  }

  .header__main-nav--div-render-links {
    position: absolute;
    display: none;
  }

  ul.header__main-nav--links {
    display: flex;
    flex-direction: column;
  }

  ul.header__main-nav--links li::before {
    content: "";
    left: -10vw;
    margin-top: 0.001rem;
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
  }

  ul.header__main-nav--links a:hover::before {
    background-color: unset;
  }

  ul.header__main-nav--links :nth-child(1):before {
    background-color: var(--mercury);
  }

  ul.header__main-nav--links :nth-child(2):before {
    background-color: var(--venus);
  }

  ul.header__main-nav--links :nth-child(3):before {
    background-color: var(--earth);
  }

  ul.header__main-nav--links :nth-child(4):before {
    background-color: var(--mars);
  }

  ul.header__main-nav--links :nth-child(5):before {
    background-color: var(--jupiter);
  }

  ul.header__main-nav--links :nth-child(6):before {
    background-color: var(--saturn);
  }

  ul.header__main-nav--links :nth-child(7):before {
    background-color: var(--uranus);
  }

  ul.header__main-nav--links :nth-child(8):before {
    background-color: var(--neptune);
  }

  ul.header__main-nav--links li::after {
    content: url('./assets/icon-chevron.svg');
    color: var(--grey);
    position: absolute;
    left: 67vw;
  }

  ul.header__main-nav--links * {
    margin-bottom: calc(4.6vh + 3vw);
  }

  div.header__main-nav--div-render-links {
    margin-top: calc(95vh + 14vw);
    left: 20vw;
  }

  a.header__main-nav--planet {
    font-size: calc(1.5vh + 1.3vw);
  }

  h2.header__main-nav--h2 {
    font-size: calc(2.7vh + 3.3vw);
  }

  ul.header__main-nav--links a:after {
    content: '';
    position: absolute;
    left: -10vw;
    bottom: -3.5vh;
    height: 0.1rem;
    width: 80vw;
    background-color: var(--white);
    opacity: 0.1;
    mix-blend-mode: normal;
  }

  ul.header__main-nav--links .neptune:after {
    background-color: unset;
  }

  .change-anchor-color {
    opacity: 0.25;
  }

  .show-div {
    display: unset;
  }

  /****************************** Header finish ******************************/
}