/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  font-size: 1.6em;
  font-family: 'Antonio',
    'Spartan',
    sans-serif;
  background-image: url('./assets/background-stars.svg');
  background-repeat: repeat;
  background-size: 60%;
  background-position: left top;
  /* transform: scale(0.5, 0.5); */
}

:root {
  --background: #070724;
  --white: #FFFFFF;
  --dark-grey: #38384F;
  --grey: #838391;
  --mercury: #DEF4FC;
  --venus: #EDA249;
  --earth: #545BFE;
  --mars: #D14C32;
  --jupiter: #ECAD7A;
  --saturn: #FCCB6B;
  --uranus: #65F0D5;
  --neptune: #2D68F0;
}

h1 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8rem;
  line-height: 10.4rem;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: -0.105rem;
  text-transform: uppercase;
  color: var(--white);
}

h3 {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.257143rem;
  text-transform: uppercase;
  color: var(--white);
}

h4,
a {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--white);
}

p {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--white);
}

nav#header__main-nav {
  display: flex;
  height: 8.5rem;
  justify-content: space-between;
  align-items: center;
}

header#header {
  position: relative;
}

nav#header__main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: var(--grey);
  opacity: 0.2;
  mix-blend-mode: normal;
}

ul.header__main-nav--links {
  display: flex;
  list-style-type: none;
}

ul.header__main-nav--links * {
  list-style-type: none;
  text-decoration: none;
}

#header__main-nav--planet {
  margin-right: 3.3rem;
}

h2.header__main-nav--h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-left: 3.2rem;
}


div.header__main-nav--div-icon {
  /**********************************************/
  display: none;
}

@media screen and (max-width: 1300px) {
  body {
    background-size: 110%;
  }
}

@media screen and (max-width: 760px) {
  body {
    background-size: 200%;
  }
}

@media screen and (max-width: 450px) {
  div.header__main-nav--div-icon {
    /**********************************************/
    display: flex;
  }
}