/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  font-size: 1.6em;
  font-family: 'Antonio',
    'Spartan',
    sans-serif;
  background-image: url('./assets/background-stars.svg');
  background-repeat: repeat;
  background-size: 60%;
  background-position: left top;
  /* transform: scale(0.5, 0.5); */
}

:root {
  --background: #070724;
  --white: #FFFFFF;
  --dark-grey: #38384F;
  --grey: #838391;
  --mercury: #419EBB;
  --venus: #EDA249;
  --earth: #545BFE;
  --mars: #D14C32;
  --jupiter: #e27e21;
  --saturn: #e0a015;
  --uranus: #2bd3b1;
  --neptune: #2D68F0;
}

h1 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8rem;
  line-height: 10.4rem;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  font-family: 'Antonio',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: -0.105rem;
  text-transform: uppercase;
  color: var(--white);
}

h3 {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.257143rem;
  text-transform: uppercase;
  color: var(--white);
}

h4,
a {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--white);
}

p {
  font-family: 'Spartan',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--white);
}

nav#header__main-nav {
  display: flex;
  height: 8.5rem;
  justify-content: space-between;
  align-items: center;
}

header#header {
  position: relative;
}

nav#header__main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: var(--grey);
  opacity: 0.2;
  mix-blend-mode: normal;
}

ul.header__main-nav--links {
  display: flex;
  list-style-type: none;
  margin-top: 1rem;
}

a.neptune {
  padding-right: 0.7rem;
}

ul.header__main-nav--links a {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  margin-right: 2.8vw;
}

ul.header__main-nav--links a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  height: 0.25rem;
}

ul.header__main-nav--links li:nth-child(1) a:hover::before {
  background-color: var(--mercury);
}

ul.header__main-nav--links li:nth-child(2) a:hover::before {
  background-color: var(--venus);
}

ul.header__main-nav--links li:nth-child(3) a:hover::before {
  background-color: var(--earth);
}

ul.header__main-nav--links li:nth-child(4) a:hover::before {
  background-color: var(--mars);
}

ul.header__main-nav--links li:nth-child(5) a:hover::before {
  background-color: var(--jupiter);
}

ul.header__main-nav--links li:nth-child(6) a:hover::before {
  background-color: var(--saturn);
}

ul.header__main-nav--links li:nth-child(7) a:hover::before {
  background-color: var(--uranus);
}

ul.header__main-nav--links li:nth-child(8) a:hover::before {
  background-color: var(--neptune);
}

h2.header__main-nav--h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-left: 3.2rem;
}

div.header__main-nav--div-icon {
  display: none;
}

/****************************** Header finish ******************************/

#upper-section {
  display: inline-flex;
  flex-direction: row;
}

#upper-section__left--img-div {
  display: flex;
  width: 65vw;
  height: 75.4rem;
  justify-content: center;
  align-items: center;
}

#upper-section__img-div--first-image {
  position: absolute;
  z-index: -1;
  margin-left: 1.25rem;
  margin-top: 1.5rem;
}

#upper-section__img-div--second-image {
  position: absolute;
  z-index: 1;
  width: 16.3rem;
  height: 19.9rem;
  margin-top: 18.4rem;
  margin-left: 1.25rem;
  visibility: hidden;
}

#upper-section__right-top {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin-top: 12vh;
  width: 35rem;
}

#upper-section__right-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  row-gap: 1.6rem;
  width: 35rem;
}

.upper-section__button {
  display: flex;
  align-items: center;
  height: 4.8rem;
  background-color: var(--background);
  mix-blend-mode: normal;
  border: 0.08rem solid rgb(56, 56, 79);
  color: white;
  padding-left: 2.8rem;
}

.upper-section__button:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 79);
  mix-blend-mode: normal;
}

.span-number {
  margin-right: 2.8rem;
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, .5);
}

.source {
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, .5);
}

.source a {
  text-decoration: underline;
  color: rgba(255, 255, 255, .5);
  font-family: Spartan;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-decoration-line: underline;
  display: inline-flex;
  flex-direction: row;
  column-gap: 0.8rem;
}

p.source a::after {
  content: url(./assets/icon-source.svg);
  mix-blend-mode: normal;
  opacity: 0.5;
}

/****************************** Main finish ******************************/

#bottom-section__main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh 10vw 5vh 10vw;
}

div#bottom-section__main-div h4 {
  color: rgba(255, 255, 255, .5);
}

div#bottom-section__main-div div {
  width: 17vw;
  height: 12.8rem;
  border: 0.08rem solid rgb(56, 56, 79);
  padding-top: 2.2rem;
  padding-left: 2.2rem;
}

.mercury>.button-selected,
.mercury>.button-selected:hover {
  background-color: var(--mercury);
}

.venus>.button-selected,
.venus>.button-selected:hover {
  background-color: var(--venus);
}

.earth>.button-selected,
.earth>.button-selected:hover {
  background-color: var(--earth);
}

.mars>.button-selected,
.mars>.button-selected:hover {
  background-color: var(--mars);
}

.jupiter>.button-selected,
.jupiter>.button-selected:hover {
  background-color: var(--jupiter);
}

.saturn>.button-selected,
.saturn>.button-selected:hover {
  background-color: var(--saturn);
}

.uranus>.button-selected,
.uranus>.button-selected:hover {
  background-color: var(--uranus);
}

.neptune>.button-selected,
.neptune>.button-selected:hover {
  background-color: var(--neptune);
}

@media screen and (max-width: 1300px) {
  body {
    background-size: 110%;
  }

  /****************************** Header finish ******************************/

}

@media screen and (max-width: 1200px) {

  h2.header__main-nav--h2 {
    margin-left: 0;
  }

  ul.header__main-nav--links a {
    margin-right: 4.3vw;
  }

  ul.header__main-nav--links li:last-child a {
    margin-right: 0;
  }

  nav#header__main-nav {
    flex-direction: column;
    height: 15.9rem;
    justify-content: space-evenly;
    align-items: center;
  }

  nav#header__main-nav::after {
    top: 15.9rem;
  }

  ul.header__main-nav--links {
    margin-right: 0;
  }

  .header__main-nav--links a.neptune {
    margin-right: 0;
    padding-right: 0;
  }

  ul.header__main-nav--links a:hover::before {
    top: 4.6rem;
  }

  /****************************** Header finish ******************************/

  #upper-section {
    flex-direction: column;
  }

  #upper-section__left--img-div {
    width: 100vw;
    height: 46rem;
    align-items: center;
    justify-content: center;
  }

  #upper-section__img-div--first-image {
    margin: 0;
    transform: scale(0.64);
  }

  #upper-section__img-div--second-image {
    margin-left: 0;
    margin-top: 15rem;
    transform: scale(0.64);
  }

  #upper-section__right {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    display: inline-flex;
  }

  #upper-section__right-top {
    margin-top: 0;
    margin-left: 3rem;
    width: 44vw;
  }

  #upper-section__right-bottom {
    margin-top: 0;
    justify-content: center;
    height: 28rem;
    transform: scaleX(0.88);
  }

  h1 {
    font-size: 4.8rem;
    line-height: 6.21rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  div#bottom-section__main-div h4 {
    font-size: 1rem;
  }

  div#bottom-section__main-div h2 {
    font-size: 2.8rem;
  }

  div#bottom-section__main-div div {
    height: 11rem;
    width: 21vw;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
  }

  /****************************** Main finish ******************************/

  #bottom-section__main-div {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (max-width: 690px) {
  body {
    background-size: 200%;
  }

  .disable-background {
    background-size: 0;
  }

  div.header__main-nav--div-icon {
    display: flex;
    margin-top: 1.2rem;
  }

  nav#header__main-nav {
    flex-direction: row;
  }

  nav#header__main-nav::after {
    top: 6.8rem;
  }

  nav#header__main-nav {
    height: 6.8rem;
    justify-content: space-between;
    margin: 0 2.4rem;
  }

  .header__main-nav--div-render-links {
    position: absolute;
    display: none;
  }

  ul.header__main-nav--links {
    display: flex;
    flex-direction: column;
  }

  ul.header__main-nav--links li::before {
    content: "";
    left: -10vw;
    margin-top: 0.001rem;
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
  }

  ul.header__main-nav--links a:hover::before {
    background-color: unset;
  }

  ul.header__main-nav--links :nth-child(1):before {
    background-color: var(--mercury);
  }

  ul.header__main-nav--links :nth-child(2):before {
    background-color: var(--venus);
  }

  ul.header__main-nav--links :nth-child(3):before {
    background-color: var(--earth);
  }

  ul.header__main-nav--links :nth-child(4):before {
    background-color: var(--mars);
  }

  ul.header__main-nav--links :nth-child(5):before {
    background-color: var(--jupiter);
  }

  ul.header__main-nav--links :nth-child(6):before {
    background-color: var(--saturn);
  }

  ul.header__main-nav--links :nth-child(7):before {
    background-color: var(--uranus);
  }

  ul.header__main-nav--links :nth-child(8):before {
    background-color: var(--neptune);
  }

  ul.header__main-nav--links li::after {
    content: url('./assets/icon-chevron.svg');
    color: var(--grey);
    position: absolute;
    left: 67vw;
  }

  ul.header__main-nav--links * {
    margin-bottom: calc(4.6vh + 3vw);
  }

  div.header__main-nav--div-render-links {
    margin-top: calc(95vh + 14vw);
    left: 20vw;
  }

  a.header__main-nav--planet {
    font-size: calc(1.5vh + 1.3vw);
  }

  h2.header__main-nav--h2 {
    font-size: calc(2.7vh + 3.3vw);
  }

  ul.header__main-nav--links a:after {
    content: '';
    position: absolute;
    left: -10vw;
    bottom: -3.5vh;
    height: 0.1rem;
    width: 80vw;
    background-color: var(--white);
    opacity: 0.1;
    mix-blend-mode: normal;
  }

  ul.header__main-nav--links .neptune:after {
    background-color: unset;
  }

  .change-anchor-color {
    opacity: 0.25;
  }

  .show-div {
    display: unset;
  }

  div#upper-section__right-bottom.hide-content,
  div#upper-section__left--img-div.hide-content,
  div#upper-section__right.hide-content,
  div#bottom-section__main-div.hide-content {
    display: none;
  }

  /****************************** Header finish ******************************/

  .span-number,
  .span-word {
    display: none;
  }

  #upper-section__right-bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 115vw;
    justify-content: space-around;
    flex: 1;
    top: 7rem;
    height: 5.1rem;
  }

  .upper-section__button {
    padding: 0;
    border: none;
    height: 102%;
  }

  .mercury>.button-selected,
  .mercury>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--mercury) 0.3rem solid;
  }

  .button-selected h3 {
    margin-top: 0.3rem;
  }

  .venus>.button-selected,
  .venus>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--venus) 0.3rem solid;
  }

  .earth>.button-selected,
  .earth>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--earth) 0.3rem solid;
  }

  .mars>.button-selected,
  .mars>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--mars) 0.3rem solid;
  }

  .jupiter>.button-selected,
  .jupiter>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--jupiter) 0.3rem solid;
  }

  .saturn>.button-selected,
  .saturn>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--saturn) 0.3rem solid;
  }

  .uranus>.button-selected,
  .uranus>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--uranus) 0.3rem solid;
  }

  .neptune>.button-selected,
  .neptune>.button-selected:hover {
    background-color: unset;
    border-bottom: var(--neptune) 0.3rem solid;
  }

  .button-selected h3 {
    color: white;
  }

  #upper-section__right-top {
    /* Apagar esse display para voltar a mostrar as informações centrais */
    /* display: none; */
    text-align: center;
    width: 85vw;
    margin: 0;
  }

  h1 {
    font-size: 4rem;
    line-height: 5.176rem;
  }

  h3 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 0.193rem;
    color: rgba(255, 255, 255, .5);
  }

  h3:hover {
    color: rgba(255, 255, 255);
  }

  p {
    font-size: 1.2rem;
  }

  div#upper-section__right-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 100%;
    background-color: var(--grey);
    opacity: 0.2;
    mix-blend-mode: normal;
  }

  div#upper-section__left--img-div {
    height: 30.4rem;
    margin-top: 5.35rem;
  }

  #upper-section__img-div--first-image {
    transform: scale(0.354);
  }

  #upper-section__img-div--second-image {
    margin-top: 7.5rem;
    transform: scale(0.354);
  }

  /****************************** Main finish ******************************/

  div#bottom-section__main-div {
    /* Apagar esse display para voltar a mostrar as informações centrais */
    /* display: none; */
    flex-direction: column;
    row-gap: 0.8rem;
  }

  div#bottom-section__main-div div {
    display: flex;
    height: 4.8rem;
    padding: 0 2.4rem 0 2.4rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  div#bottom-section__main-div h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  #upper-section__button:hover {
    background-color: none;
  }

}